<div id="vendr-order-edit" ng-controller="Vendr.ProductReviews.Controllers.ReviewEditController as vm" class="vendr vendr-product-review">

    <umb-load-indicator ng-if="vm.page.loading"></umb-load-indicator>

    <style>
      .vendr-product-review .rating { color: #dfdfdf; font-size: 32px; }
      .vendr-product-review .rating > .active { color: #ffbb3f; }

      .vendr-header--review .umb-panel-header-name { 
          display: flex;
          align-items: center;
          font-size: 18px;
          margin: 0;
          line-height: 20px;
      }

      .vendr-header--review .umb-panel-header-locked-description {
          color: #817f85;
          font-size: 12px;
          line-height: 12px;
          height: auto;
          margin: 6px 0 0;
      }

      .vendr-header--review-status .umb-panel-header-name:after {
          font-size: 13px;
          font-weight: normal;
          padding: 1px 10px;
          display: inline-block;
          border-radius: 100px;
          margin-left: 10px;
          vertical-align: bottom;
      }

      .vendr-header--review-status-pending .umb-panel-header-name:after {
          color: white;
          background-color: #03a9f4;
      }

      .vendr-header--review-status .umb-panel-header-name:after { content: '{{ vm.content.status.replace("'","\\'") }}'; }
    </style>

    <form name="contentForm"
          ng-submit="vm.save()"
          novalidate
          val-form-manager>

        <umb-editor-view ng-if="!vm.page.loading">

            <umb-editor-header
                name="vm.content.name"
                description="vm.content.createDate | date: 'MMMM d, yyyy h:mm a'"
                name-locked="true"
                description-locked="true"
                hide-icon="true"
                hide-description="false"
                hide-alias="true"
                show-back-button="!vm.page.isInfiniteMode"
                on-back="vm.back()"
                menu="vm.page.menu"
                hide-menu="vm.page.isInfiniteMode"
                class="vendr-header vendr-header--review vendr-header--review-status vendr-header--review-status-{{ vm.content.status.toLowerCase() }}">
            </umb-editor-header>

            <umb-editor-container class="form-horizontal">

                <vendr-license-check></vendr-license-check>

                <umb-box>
                    <umb-box-content>

                        <umb-control-group label="Rating">
                            <span class="rating" aria-hidden="true">
                                <i class="icon-rate"
                                   ng-repeat="n in [].constructor(5) track by $index"
                                   ng-class="{ 'active': ($index + 1) <= vm.content.rating }">
                                </i>
                            </span>
                        </umb-control-group>

                        <umb-control-group label="Date">
                            <span>{{vm.content.createDate | date: 'MMMM d, yyyy h:mm a'}}</span>
                        </umb-control-group>

                        <umb-control-group label="Name">
                            <span>{{vm.content.name}}</span>
                        </umb-control-group>

                        <umb-control-group label="Title">
                            <span>{{vm.content.title}}</span>
                        </umb-control-group>

                        <umb-control-group label="Description">
                            <span>{{vm.content.description}}</span>
                        </umb-control-group>

                    </umb-box-content>
                </umb-box>


            </umb-editor-container>

            <umb-editor-footer>

                <umb-editor-footer-content-left>
                    <umb-breadcrumbs ng-if="!vm.page.isInfiniteMode && vm.page.breadcrumb && vm.page.breadcrumb.items && vm.page.breadcrumb.items.length > 0"
                                     ancestors="vm.page.breadcrumb.items"
                                     on-open="vm.page.breadcrumb.itemClick(ancestor)">
                    </umb-breadcrumbs>
                </umb-editor-footer-content-left>

                <umb-editor-footer-content-right>

                    <umb-button type="button"
                                ng-if="vm.page.isInfiniteMode"
                                button-style="link"
                                label-key="general_close"
                                shortcut="esc"
                                action="vm.close()">
                    </umb-button>

                    <umb-button type="submit"
                                button-style="success"
                                state="vm.page.saveButtonState"
                                shortcut="ctrl+s"
                                label="Save"
                                label-key="buttons_save">
                    </umb-button>

                </umb-editor-footer-content-right>

            </umb-editor-footer>
        </umb-editor-view>
    </form>

</div>