<div ng-controller="Vendr.ProductReviews.Controllers.DashboardController as vm">

    <h2>Product Reviews</h2>

    <umb-load-indicator ng-if="vm.page.loading"></umb-load-indicator>

    <!--<div ng-repeat="review in vm.reviews" class="flex">
        <span class="rating">
            <i class="icon-trophy" ng-repeat="n in [].constructor(5) track by $index" ng-class="{ 'color-yellow': n <= review.rating }" aria-hidden="true"></i>
        </span>
        <span>
            <strong>{{review.title}}</strong><br>
            <p>{{review.description}}</p>
        </span>
    </div>-->

    Items: {{vm.options.items | json}}

    <vendr-table-view create-actions="vm.options.createActions"
                      bulk-actions="vm.options.bulkActions"
                      filters="vm.options.filters"
                      items="vm.options.items"
                      item-properties="vm.options.itemProperties"
                      paginated="true"
                      item-click="vm.options.itemClick"
                      on-load-items="vm.loadItems">
    </vendr-table-view>


    <!--<umb-editor-view ng-if="!vm.page.loading">

        <umb-editor-header name="vm.page.menu.currentNode.name"
                           name-locked="true"
                           hide-icon="true"
                           hide-description="true"
                           hide-alias="true"
                           show-back-button="false"
                           menu="vm.page.menu">
        </umb-editor-header>

        <umb-editor-container class="form-horizontal">
            <vendr-license-check></vendr-license-check>
            <vendr-table-view create-actions="vm.options.createActions"
                              bulk-actions="vm.options.bulkActions"
                              filters="vm.options.filters"
                              items="vm.options.items"
                              item-properties="vm.options.itemProperties"
                              paginated="true"
                              item-click="vm.options.itemClick"
                              on-load-items="vm.loadItems">
            </vendr-table-view>
        </umb-editor-container>

        <umb-editor-footer>
            <umb-editor-footer-content-left>
                <umb-breadcrumbs ng-if="vm.page.breadcrumb && vm.page.breadcrumb.items && vm.page.breadcrumb.items.length > 0"
                                 ancestors="vm.page.breadcrumb.items"
                                 on-open="vm.page.breadcrumb.itemClick(ancestor)">
                </umb-breadcrumbs>
            </umb-editor-footer-content-left>
        </umb-editor-footer>

    </umb-editor-view>-->

</div>