.vendr-product-review .vendr-table .vendr-table-cell .rating {
    color: #dfdfdf;
    font-size: 20px;
}

.vendr-product-review .vendr-table .vendr-table-cell .rating > .active {
    color: #ffbb3f;
}

.vendr-product-review .dropdown-menu umb-checkbox[name='filter-reviewRatings'] ~ label > .umb-badge:before {
    content: "\e0fa";
    color: #ffbb3f;
    font-family: icomoon;
    margin-right: 3px;
}

.vendr-product-review .dropdown-menu .vendr-bg--light-grey {
    background-color: #efefef;
}

.vendr-product-review .rating {
    color: #dfdfdf;
    font-size: 32px;
    user-select: none;
}

.vendr-product-review .rating > .active {
    color: #ffbb3f;
}

.vendr-header--review .umb-panel-header-name {
    display: flex;
    align-items: center;
    font-size: 18px;
    margin: 0;
    line-height: 20px;
}

.vendr-header--review .umb-panel-header-locked-description {
    color: #817f85;
    font-size: 12px;
    line-height: 12px;
    height: auto;
    margin: 6px 0 0;
}

.vendr-header--review-status .umb-panel-header-name:after {
    font-size: 13px;
    font-weight: normal;
    padding: 1px 10px;
    display: inline-block;
    border-radius: 100px;
    margin-left: 10px;
    vertical-align: bottom;
}

.vendr-header--review-status-pending .umb-panel-header-name:after {
    color: white;
    background-color: #03a9f4;
}